        body  {
            font-family: Arial;
            margin: 0;
        }
        aside {
            width: 180px;
            list-style: none;
            float: left;
            margin-right: 36px;
            border: 1px solid gray;
            border-radius: 3px;
        }
        aside li{
            margin-top: 2px;
            background: #7f8c8d;
            padding: 6px;
            border-radius: 3px;
            transition: 1s ease all;
        }
        aside li:hover{
            border-radius: 3px;
            padding: 10px 6px;
        }
        aside li a {
            color: white;
            text-decoration: none;
        }
        header{
            color:#2c3e50;
            height: 50px;
            line-height: 50px;
            text-align: center;
            background: yellow;
            background-size: cover;
            margin-bottom: 10px;
        }
        .main{
            width: 700px;
            border: 1px solid black;
            display: inline-block;
        }
        .main article{
            padding: 16px;
        }
        .last-posts{
            float: right;
            border: 1px solid gray;
            list-style: none;
            margin-right: 10px;
            padding: 5px;
        }
        .last-posts li img{
            width: 24px;
            margin-right: 10px;
        }
        .last-posts li{
            margin-top: 10px;
        }
        .last-posts li a{
            color: #2c3e50;
        }
        .date-post{
            margin: 8px 0px 3px 0px;
            font-size: 10px;
            color: gray;
        }
        footer{
            margin-top: 20px;
            background: #FFFFFF;
            text-align: center;
            color: black;
        }
        footer a {
            color: blue;
        }
        .main h2{
            font-family: sans-serif;
            font-size: 30px;
            margin: 10px 0px;
            color: #2c3e50;
        }
        aside h2{
            margin: 15px 4px;
            color: #2c3e50;
        }