body{
    padding-top: 0;
    margin: 0;
}

h1{
    text-align: center;
    background-color: grey;
    color: #730B0B;
}

article{
    font-family: Arial;
    margin: 0px 10px;
}
article h2{
    font-family: sans-serif;
    text-align: left;
    color: #730B0B;
}
article span{
    margin-right: 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 20px;
    width: 200px;
}
article span+p{
    display: inline-block;

}
.datos span{
    width: 150px;
}

.education span{
    width: 150px;
}

.experience span{
    width: 150px;
}